
ul{

list-style-type:  none;
margin: 10;
padding: 20;
overflow: hidden;
background-color: #134;
font-family: Comic Sans Ms;
}

li {
float: left;
margin: 100/;px;
}

li a{
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
margin: 2px;
}

li a:hover {
background-color: lightsalmon;
color: black;
}





















body{
font-family: Comic Sans Ms;
font-size: 20px;
background-color: pink;
background-image:
url('pink.jpeg');


}